body {
    margin:0;
    padding:0;
    background: #F7F7FF;
}
.name {
    width: 100%;
    height: 300px;
    background: #1286b4;
    transform: skewY(-5deg);
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}

.name .content, .p-1 {
    color: #F7F7FF;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 60px;
    transform: skewY(2.5deg);
    margin-bottom: 0;
}

.name .content, .p-2 {
    color: #F7F7FF;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    transform: skewY(2.5deg);
    margin-top: 0;
    margin-bottom: 0;
}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(2.5deg);
    overflow: hidden;
}

.name .img img {
    width: 180px;
    height: 300px;
}

.info {
    width: 90%;
    height: auto;
    background: #1286b4;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloseccion {
    color: #F7F7FF;
    font-family: "Roboto" sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #F7F7FF dashed;

}

.info .tituloinfo {
    color: #F7F7FF;
    font-family: "Roboto" sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;

}

.info .infoinfo {
    color: #08080a;
    font-family: "Roboto" sans-serif;
    font-weight: normal;
    font-size: large;  
    display: inline;  
}

.info span {
    display: inline-block;
    width: auto;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    background: #F7F7FF;
    color: #08080a;
    font-family: "Roboto" sans-serif;
    border-radius: 5px;

}

.name .infoactualiza {
    width: 100%;
    height: 300%;
    transform: skewY(2.5deg);
    color: #1286b4;
    margin:0;
    padding:0;
    font-family: "Roboto" sans-serif;
    text-size-adjust: center;
    


}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.piedepagina-info {
    margin-top: auto;
    background-color: #1286b4;
    color: #F7F7FF;
    padding: 15px;
    text-align: left;
    border-radius: 20px 20px 0 0;
}

