body {
    margin:0;
    padding:0;
    background: #F7F7FF;
}
.name {
    width: 100%;
    height: 300px;
    background: #009DDC;
    transform: skewY(-5deg);
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}

.name .content, .p-1 {
    color: #F7F7FF;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(2.5deg);
    margin-bottom: 0;
}

.name .content, .p-2 {
    color: #F7F7FF;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    transform: skewY(2.5deg);
}

.info {
    width: 90%;
    height: ;
}